<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<div class="top-image-parent">
	<div class="top-image block-center">
		<div id="theTarget">
			<div class="image1">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image2">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image3">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image4">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image5">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image6">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image7">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
			<div class="image8">
				<div class="welcome-content">
					<p class="welcome-text">
						満足のいくリフォームを提供いたします！
					</p>
				</div>
			</div>
		</div>
	</div>
</div>