<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<div class="contacts text-center">
	<div class="count">
		<% count = 0 %>
		<% @contacts.each do |contact| %>
			<% @end_user = EndUser.with_deleted.find(contact.end_user_id) %>
			<% if @end_user.deleted_at == nil %>
				<% count += 1 %>
			<% end %>
		<% end %>
		<p>未対応のお問い合わせは　<span class="red"><%= count %></span>　件です</p>
	</div>
</div>