// Place all the styles related to the admin/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-size {
	font-size: 16px;
	width: 80px;
	height: 35px;
}


.search {
	background-color: rgba(16, 48, 61, 0.596);
	display: flex;
	padding: 5px 10px 3px 10px;
}


.search-title {
	padding-top: 5px;
	margin-right: 10px;
	color: white;
}