<body>
	<div class="container">
		<div class="row margin-ud">
			<div class="col-md-6 offset-md-3">
				<h1 class="text-center">thank you</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p class=text-center>
					お問い合わせいただき、ありがとうございます。<br>
					お問い合わせを頂いてから３営業日以内にお返事させていただきます。<br>
					土・日・祝日などの弊社指定のお休みに頂いた場合は、<br>
					翌営業日から３営業日以内のお返事となりますのでご了承下さい。
				</p>
			</div>
		</div>
	</div>
</body>
